/* ############ desktop ############ */

/* ######################################## */
/* ############### navigation ############# */
/* ######################################## */

.navigation_desktop {
	margin-right: 100px;
}

.logo_desktop img {
	margin-left: 70px;
}

/* ######################################## */
/* ############### slideshow ############## */
/* ######################################## */

.slider {
	height: 450px;
	width: 800px;
}

/* ######################################## */
/* ############### content  ############### */
/* ######################################## */

.content {
	margin: 0 auto;
	max-width: 60%;
}

/* ######################################## */
/* ################# om oss ############### */
/* ######################################## */

form {
	margin-left: 20%;
	width: 40%;
}

.headline {
	padding-left: 0%;
}

.pictures {
	float: left;
}

.pictures img{
	display: block;
	position: relative;
}

.info {
	padding:0%;
	margin: 0 auto;
	width: 50%;
}

.about {
	width: 95%;
}

/* ######################################## */
/* ################# footer ############### */
/* ######################################## */

.contact_footer {
	margin-left: 100px;
}

.extern_links {
	margin-right: 120px;
}

